{
  "name": "csv-source-aircraft",
  "config": {
    "tasks.max": "1",
    "connector.class": "com.github.jcustenborder.kafka.connect.spooldir.SpoolDirCsvSourceConnector",
    "input.file.pattern": "^aircraft_airbus_airfrance_.*.csv$",
    "input.path": "/your/preferred/path/confluent-kafka-demo/source",
    "finished.path": "/your/preferred/path/confluent-kafka-demo/finished",
    "error.path": "/your/preferred/path/confluent-kafka-demo/error",
    "halt.on.error": "false",
    "topic": "aircraft",	 "value.schema":"{\"name\":\"com.github.jcustenborder.kafka.connect.model.Value\",\"type\":\"STRUCT\",\"isOptional\":false,\"fieldSchemas\":{\"Aircraft\":{\"type\":\"STRING\",\"isOptional\":true},\"type\":{\"type\":\"STRING\",\"isOptional\":true},\"Longueur\":{\"type\":\"STRING\",\"isOptional\":true},\"Autonomie\":{\"type\":\"STRING\",\"isOptional\":true},\"Passagers\":{\"type\":\"STRING\",\"isOptional\":true}}}", 
    "key.schema":"{\"name\":\"com.github.jcustenborder.kafka.connect.model.Key\",\"type\":\"STRUCT\",\"isOptional\":false,\"fieldSchemas\":{}}",
    "csv.first.row.as.header": "true"
  }
}
