{
  "name": "csv-source-traffic",
  "config": {
    "tasks.max": "2",
    "connector.class": "com.github.jcustenborder.kafka.connect.spooldir.SpoolDirCsvSourceConnector",
    "input.file.pattern": "^Flight_Log_Paris_.*_2019.csv$",
    "input.path": "/your/preferred/path/confluent-kafka-demo/source",
    "finished.path": "/your/preferred/path/confluent-kafka-demo/finished",
    "error.path": "/your/preferred/path/confluent-kafka-demo/error",
    "halt.on.error": "false",
    "topic": "traffic",  "value.schema":"{\"name\":\"com.github.jcustenborder.kafka.connect.model.Value\",\"type\":\"STRUCT\",\"isOptional\":false,\"fieldSchemas\":{\"Date\":{\"type\":\"STRING\",\"isOptional\":true},\"Vol\":{\"type\":\"STRING\",\"isOptional\":true},\"Depart\":{\"type\":\"STRING\",\"isOptional\":true},\"Arrivee\":{\"type\":\"STRING\",\"isOptional\":true},\"Appareil\":{\"type\":\"STRING\",\"isOptional\":true},\"Distance\":{\"type\":\"STRING\",\"isOptional\":true},\"type\":{\"type\":\"STRING\",\"isOptional\":true}}}", "key.schema":"{\"name\":\"com.github.jcustenborder.kafka.connect.model.Key\",\"type\":\"STRUCT\",\"isOptional\":false,\"fieldSchemas\":{}}",
    "csv.first.row.as.header": "true"
  }
}

